.Backdrop {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
}


.Backdrop p {
  font-size: 1.8rem;
  padding: 3% 3%;
}