.Button {
  display: block;
  padding: 10px 30px;
  margin: 0px 10px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  border: #222 2px solid;
  border-radius: 10px;
  background-color: #fff;
}

.Button:hover {
  background-color: #222;
  color: white;
  border: #222 2px solid;
}
