.Statistics {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #222;
}

.Statistics .Paragraph {
  font-size: 1.8rem;
  line-height: 140%;
}

.Paragraph strong {
  font-size: 1.8rem;
}

.Congrats {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3% 5%;
  width: 80vw;
  max-height: ;
  max-width: 1000px;
  font-size: 1.8rem;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 29px 3px rgba(0, 0, 0, 0.507);
}

.Congrats p {
  text-align: center;
}

div.Btn {
  margin: 3%;
}

@media (max-width: 520px) {
  .Statistics .Paragraph {
    font-size: 1.6rem;
    /* line-height: 140%; */
  }
}
