.Ring {
  z-index: 1;
  width: 10%;
  height: 2.5vh;
  background: rgb(198,56,56);
  background: linear-gradient(0deg, rgba(198,56,56,1) 0%, rgba(209,85,85,1) 52%, rgba(198,56,56,1) 100%);
  border-radius: 10vh
}

.Ring:hover {
  background: rgb(227,91,91);
background: linear-gradient(0deg, rgba(227,91,91,1) 0%, rgba(250,125,125,1) 52%, rgba(227,91,91,1) 100%);

}