* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 10vh auto;
  width: 80vw;
  height: 80vh;
  /* background-color: rgb(154, 154, 185); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
